@import './../../styles/variables';

.skills {
  // MAIN
  // background: linear-gradient(49.5deg, #0b0d05 68%, #10120a 71%);
  // TEST
  // background: linear-gradient(45deg, #712d4e 70%, #255263 75%);
}

.skills__title {
  font-size: 2rem;
  color: $active-color;
}

.skills__soft-title {
  font-size: 1rem;
  color: #eee;
}

.skills__title,
.skills__soft-title {
  margin-bottom: 0.8rem;
  text-align: left;
}

.skills__grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 10rem;
  align-items: baseline;
}

.skills__hard,
.skills__soft {
  display: grid;
  gap: 1rem;
}

// .skills__hard:not(:first-child),
// .skills__soft:not(:first-child) {
//   gap: 1.5rem;
// }

.skills__item {
  padding: 15px 20px;
  border: 2px solid #eee;
  width: 100%;
  max-width: 690px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  text-align: left;
  transition: all $standart-time;
  cursor: default;
}

.skills__hard-item {
  box-shadow: 2px 2px 6px #593404, -4px -4px 6px #0096ffcc;

  &:hover {
    box-shadow: 4px 4px 6px #ff6600cc, -4px -4px 6px #0096ffcc;
  }
}

.skills__soft-item {
  box-shadow: 4px 4px 6px #ff6600cc, -2px -2px 6px #0178cdcc;

  &:hover {
    box-shadow: 4px 4px 6px #ff6600cc, -4px -4px 6px #0096ffcc;
  }
}