@import './../../styles/variables';

.home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    background-image: url('/public/assets/background/bg-top.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    // background-position: bottom;
    background-position: center;
}

.home__text-block {
    // max-width: 35rem;
    max-width: 43rem;
}

.home__greetings-block {
    max-width: 50rem;
    margin-top: 12rem;
}

h1.home__greetings-header {
    font-size: 4em;
    line-height: 4.5rem;
    margin: 0;
    padding: 0;
    letter-spacing: 1px;
  }

.home__greetings-header-highlight {
    color: $active-color;
}

.home__text {
    font-size: 1.3rem;
    line-height: 2.4rem;
    margin: 1.5rem 0 2rem;
}

.home__buttons-block {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.home__button {
    position: relative;
    color: #eee;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    text-decoration: unset;
    transition: all $standart-time;

    &_active {
        background-color: #000;
    }

    &::before, &::after {
        content: "";
        position: absolute;
        width: 1.5rem;
        height: 10rem;

        // width: 5rem;
        // height: 1.5rem;
        border: 2px solid $active-color;
    }

    &::before {
        top: 0;
        left: 0;
        border-right: none;
        border-bottom: none;
    }

    &::after {
        bottom: 0;
        right: 0;
        border-left: none;
        border-top: none;
        height: 1.5rem;
    }

    &:hover {
        background-color: $active-color;
        // color: #000;
    }
}