@import './../styles/variables';

.dark-bg-theme-main {
    background-color: $dark-theme-second-color;
}

.dark-bg-theme-second {
    background-color: $dark-theme-main-color;
}

// TEST
section {
    height: 1000px;
    scroll-margin-top: 80px;
}